# Normalización de fin de línea
* text=auto

# Scripts que DEBEN ser LF para ejecutarse en Linux (CI)
gradlew text eol=lf
*.sh text eol=lf

# Scripts de Windows
*.bat text eol=crlf
*.cmd text eol=crlf

# Binarios: no tocar
*.jar -text
*.png -text
*.jpg -text
*.keystore -text
*.jks -text
